body {
    font-family: 'Text Me One', sans-serif;
    font-size: 1em;
    color: black;
    background-color: rgb(76, 137, 177);
    position: absolute; 
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
}
.main {
    text-align: left;
    width: 100%;
    font-family: 'Text Me One', sans-serif;
}
.header{
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 7em;
    margin: -10px 0;
}
.content {
    text-align: left;
    font-size: 1.3em;
}
h2 {
    letter-spacing: 0.3em;
    font-size: 2.5em;
    font-family: 'Text Me One', sans-serif;
}
.verse{
    margin-top: 1.5em;
    font-size: 1.3em;
}
ul {
    list-style: none;
    padding: 0;
}

a:visited {
    color: black;
}